<!-- ==================== NAVBAR =================== -->
<section ng-include="'../partials/navbar.html'"></section>

<!-- ==================== TICKER =================== -->
<section ng-include="'../partials/ticker.html'"></section>

<!-- ==================== MAIN SECTION ============= -->
<section class="dashboard">
  <h1>WELCOME, {{currentUser.name}}</h1>

  <div class="card-container">
<!-- =================== PORTFOLIO ================= -->
    <div class="column">
      <div class="card user-portfolio">
        <h3>YOUR PORTFOLIO</h3>
        <div class="row">
          <div class="stats">
            <h4>CURRENT $</h4>
            <p>
              {{currentUser.money | currency}}
            </p>
          </div>
          <div class="stats">
            <h4>GAINED $</h4>
            <p>
              $100.00
            </p>
          </div>
        </div>
        <div class="row">
          <div class="stats">
            <h4>CURRENT STOCKS</h4>
            <p>
              20
            </p>
          </div>
          <div class="stats">
            <h4>WATCHED STOCKS</h4>
            <p>
              14
            </p>
          </div>
        </div>
        <div class="row">
          <div class="btn">
            edit account
          </div>
          <div class="btn">
            delete account
          </div>
        </div>
      </div>

<!-- =================== STOCKS =================== -->
      <div class="card user-stocks">
        <h3>YOUR STOCKS</h3>
        <div class="row">
          <div class="btn">
            bought
          </div>
          <div class="btn">
            watched
          </div>
        </div>
        <div class="stock-container">
          <div class="stock">
            <strong ng-click="vm.modalToggle();">SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
        </div>
      </div>
    </div>
<!-- ================= CHART MODAL ================ -->
    <div class="card chart">
      <h3>THE STOCKS</h3>
      <div class="input-container">
        <form>
          <input type="text" placeholder="SEARCH FOR A STOCK..." />
          <input type="submit" value="SEARCH"/>
        </form>
      </div>
      <div class="search-stock-container">
        <div class="search-stock-info">
          <h3>STOCK NAME (SYMBL)</h3>
          <table>
            <tr>
              <td><strong>stat</strong></td>
              <td class="stock-stat">statistic info</td>
            </tr>
            <tr>
              <td><strong>stat</strong></td>
              <td class="stock-stat">statistic info</td>
            </tr>
            <tr>
              <td><strong>stat</strong></td>
              <td class="stock-stat">statistic info</td>
            </tr>
            <tr>
              <td><strong>stat</strong></td>
              <td class="stock-stat">statistic info</td>
            </tr>
            <tr>
              <td><strong>stat</strong></td>
              <td class="stock-stat">statistic info</td>
            </tr>
            <tr>
              <td><strong>stat</strong></td>
              <td class="stock-stat">statistic info</td>
            </tr>
          </table>
          <div class="stock-btn">
            BUY SHARES
          </div>
          <div class="stock-btn">
            WATCH STOCK
          </div>
        </div>
      </div>
    </div>

  </div>
<!-- ================= STOCK MODAL ================ -->
  <div ng-if="vm.modalActive" class="modal">
    <div class="box">
      <div class="close" ng-click="vm.modalToggle();">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
