<!-- ==================== NAVBAR =================== -->
<section ng-include="'../partials/navbar.html'"></section>

<!-- ==================== TICKER =================== -->
<section ng-include="'../partials/ticker.html'"></section>

<!-- ==================== MAIN SECTION ============= -->
<section class="dashboard">
  <h1>WELCOME, {{currentUser.name}}</h1>

  <div class="card-container">
    <!-- =================== PORTFOLIO ================= -->
    <div class="column">
      <div class="card user-portfolio">
        <h3>YOUR PORTFOLIO</h3>
        <div class="row">
          <div class="stats">
            <h4>CURRENT $</h4>
            <p>
              {{currentUser.money | currency}}
            </p>
          </div>
          <div class="stats">
            <h4>GAINED $</h4>
            <p>
              $100.00
            </p>
          </div>
        </div>
        <div class="row">
          <div class="stats">
            <h4>CURRENT STOCKS</h4>
            <p>
              20
            </p>
          </div>
          <div class="stats">
            <h4>WATCHED STOCKS</h4>
            <p>
              14
            </p>
          </div>
        </div>
        <div class="row">
          <div class="btn">
            edit account
          </div>
          <div class="btn">
            delete account
          </div>
        </div>
      </div>

      <!-- =================== STOCKS =================== -->
      <div class="card user-stocks">
        <h3>YOUR STOCKS</h3>
        <div class="row">
          <div class="btn">
            bought
          </div>
          <div class="btn">
            watched
          </div>
        </div>
        <div class="stock-container">
          <div class="stock">
            <strong ng-click="vm.modalToggle();">SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
          <div class="stock">
            <strong>SYMBL</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- ================= CHART MODAL ================ -->
    <div class="card chart">
      chart js? or something else

      <div>
        <h3>Search for Stocks</h3>
        <div class="form-group row no-padding text-center col-md-12">
          <form ng-submit="vm.searchStock()">
            <div class="col-md-10">
              <input type="text" ng-model="vm.stocksearch.stock" placeholder="Stock ticker symbol" required />
            </div>
            <div class="col-md-2">
              <button type="submit">
                <i class="fa fa-search"> Look up a stock </i>
              </button>
            </div>

          </form>

        </div>

        <div ng-hide="!stockSearchResult">
          {{stockSearchResult.name}}
        </div>
        <div ng-show="error_msg">
          {{error_msg}}
        </div>



      </div>

    </div>

  </div>
  <!-- ================= STOCK MODAL ================ -->
  <div ng-if="vm.modalActive" class="modal">
    <div class="box">
      <div class="close" ng-click="vm.modalToggle();">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
