<!-- ==================== NAVBAR =================== -->
<section ng-include="'../partials/navbar.html'"></section>

<!-- ==================== TICKER =================== -->
<section ng-include="'../partials/ticker.html'"></section>

<!-- ==================== MAIN SECTION ============= -->
<section class="dashboard">
  <h1>WELCOME, {{currentUser.name}}</h1>

  <div class="card-container">
    <!-- =================== PORTFOLIO ================= -->
    <div class="column">
      <div class="card user-portfolio">
        <h3>YOUR PORTFOLIO</h3>
        <div class="row">
          <div class="stats">
            <h4>CURRENT $</h4>
            <p>
              {{currentUser.money | currency}}
            </p>
          </div>
          <div class="stats">
            <div class="info">
              <i class="fa fa-info-circle" aria-hidden="true" title="relative to the original $10,000 you started with"></i>
            </div>
            <h4>GAINED $</h4>
            <p>
              {{currentUser.money - 10000 | currency}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="stats">
            <h4>CURRENT STOCKS</h4>
            <p>
              {{currentUser.userBought}}
            </p>
          </div>
          <div class="stats">
            <h4>WATCHED STOCKS</h4>
            <p>
              {{currentUser.userWatched}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="btn" ng-click="vm.modalToggle('editUser');">
            edit account
          </div>
          <div class="btn" ng-click="vm.modalToggle('deleteUser');">
            delete account
          </div>
        </div>
      </div>

      <!-- =================== STOCKS =================== -->
      <div class="card user-stocks">
        <h3>YOUR STOCKS</h3>
        <div class="row">
          <div class="btn" ng-click="vm.filterStocks('bought')">
            bought
          </div>
          <div class="btn" ng-click="vm.filterStocks('watched')">
            watched
          </div>
        </div>
        <!-- ========== BOUGHT STOCKS ============ -->
        <div class="stock-container" ng-if="vm.stockFilter === 'bought'">
          <div class="stock" ng-click="vm.modalToggle('boughtStock', $index);" ng-if="!stock.watched" ng-repeat="stock in myStocks">
            <strong>{{stock.symbol}}</strong> <span>shares: {{stock.qty}}</span>
          </div>
        </div>
        <!-- ========== WATCHED STOCKS ============ -->
        <div class="stock-container" ng-if="vm.stockFilter === 'watched'">
          <div class="stock" ng-click="vm.modalToggle('watchedStock', $index);" ng-if="stock.watched" ng-repeat="stock in myStocks">
            <strong>{{stock.symbol}}</strong>
            <div class="unwatch">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ================= CHART CARD ================ -->
    <div class="card chart">
      <h3>THE STOCKS</h3>
      <!-- ====== SEARCH FORM ====== -->
      <div class="input-container">
        <form ng-submit="vm.searchStock()">
          <input type="text" ng-model="vm.stocksearch.stock" placeholder="SEARCH FOR A STOCK..." required/>
          <input type="submit" value="SEARCH" />
        </form>
      </div>
      <div class="search-stock-container">
        <!-- ====== NO CURRENT SEARCH ====== -->
        <div class="search-none" ng-hide="stockSearchResult || error_msg">
          search to view a stock's information
        </div>
        <!-- ====== SEARCH RESULTS ====== -->
        <!--  should display an error if there is no record found -->
        <div ng-hide="!error_msg" class="search-none">
          {{error_msg}}
        </div>
        <!-- ====== STOCK STATS ====== -->
        <div class="search-stock-info" ng-hide="!stockSearchResult">
          <h3>{{stockSearchResult.name}} ({{stockSearchResult.symbol}})</h3>
          <table>
            <tr>
              <td><strong>Current Ask:</strong></td>
              <td class="stock-stat" ng-if="stockSearchResult.ask">{{stockSearchResult.ask | currency}}</td>
              <td class="stock-stat" ng-if="!stockSearchResult.ask">N/A</td>
            </tr>
            <tr>
              <td><strong>Current Bid:</strong></td>
              <td class="stock-stat" ng-if="stockSearchResult.bid">{{stockSearchResult.bid | currency}}</td>
              <td class="stock-stat" ng-if="!stockSearchResult.bid">N/A</td>
            </tr>
            <tr>
              <td><strong>Last Trade Price:</strong></td>
              <td class="stock-stat"  ng-if="stockSearchResult.last_trade_price_only">{{stockSearchResult.last_trade_price_only | currency}}
              </td>
              <td class="stock-stat"  ng-if="!stockSearchResult.last_trade_price_only">N/A
              </td>
            </tr>
            <tr>
              <td><strong>Day Range:</strong></td>
              <td class="stock-stat" ng-if="stockSearchResult.days_range">{{stockSearchResult.days_range}}</td>
              <td class="stock-stat" ng-if="!stockSearchResult.days_range">N/A</td>
            </tr>
            <tr>
              <td><strong>Avg Daily Vol:</strong></td>
              <td class="stock-stat"  ng-if="stockSearchResult.average_daily_volume">{{stockSearchResult.average_daily_volume | number}}</td>
              <td class="stock-stat"  ng-if="!stockSearchResult.average_daily_volume">N/A</td>
            </tr>
            <tr>
              <td><strong>Year High:</strong></td>
              <td class="stock-stat" ng-if="stockSearchResult.year_high">{{stockSearchResult.year_high}}</td>
              <td class="stock-stat" ng-if="!stockSearchResult.year_high">N/A</td>
            </tr>
            <tr>
              <td><strong>Year Low</strong></td>
              <td class="stock-stat" ng-if="stockSearchResult.year_low">{{stockSearchResult.year_low}}</td>
              <td class="stock-stat" ng-if="!stockSearchResult.year_low">N/A</td>
            </tr>
          </table>
          <div class="stock-btn" ng-click="vm.buyShareToggle();">
            BUY SHARES
          </div>
          <!--  BUY STOCK  -->
          <div ng-if="vm.buyingShares" class="buy-shares">
            <form ng-submit="vm.buystock()">
              <input type="number" min="1" placeholder="AMOUNT OF SHARES..." ng-model="vm.buyingStock.NumberShares" />
              <input type="submit" value="Submit"/>
            </form>
            <div class="success-msg" ng-show="succesfulBuy">
              bought!
            </div>
            <div class="error-msg" ng-show="error_msg_not_enough_fund">
              {{error_msg_not_enough_fund}}
            </div>
          </div>
          <!-- WATCH STOCK -->
          <div class="stock-btn" ng-click="vm.watchedStock()" />
          WATCH STOCK
          </div>
          <div class="success-msg" ng-show="successfulWatch">
            added!
          </div>
          <div class="error-msg" ng-show="msg_watching_stock">
            {{msg_watching_stock}}
          </div>
        </div>
        <!-- ====== STOCK CHART ======= -->
        <div class="search-stock-chart" ng-hide="!stockSearchResult">
          <h3>{{stockSearchResult.symbol}}'S PRICE CHANGE (%)</h3>
          <canvas id="stock-chart" width="100%" height="50%"></canvas>
        </div>
      </div>
    </div>

  </div>

    <!-- ============= BOUGHT STOCK MODAL ============ -->
    <div ng-if="vm.boughtModal" class="modal">
      <div class="stock-box">
        <div class="close" ng-click="vm.modalToggle('boughtStock')">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </div>
        <h1>{{vm.automatedStock.name}} ({{vm.viewedStock.symbol}})</h1>
        <div class="stock-box-info">
          <div class="box">
            <h3>WHEN BOUGHT</h3>
            <table>
              <tr>
                <td><strong>SHARES:</strong></td>
                <td class="stock-stat">{{vm.viewedStock.qty}}</td>
              </tr>
              <tr>
                <td><strong>PRICE:</strong></td>
                <td class="stock-stat">{{vm.viewedStock.price | currency}}</td>
              </tr>
            </table>
            <div class="btn" ng-click="vm.sellShares();">
              sell your shares
            </div>
            <div class="form" ng-if="vm.sellingShares">
              <form ng-submit="vm.sellStock()">
                <input type="number" min="1" placeholder="AMOUNT" ng-model="vm.sellingStock.NumberShares" />
                <input type="submit" value="SELL" />
              </form>
              <div class="success-msg" ng-show="succesfulSell">
                sold {{soldStocks}} shares for {{moneyGained | currency}}
              </div>
            </div>
          </div>
          <div class="box">
            <h3>CURRENTLY</h3>
            <table>
              <tr>
                <td><strong>Current Ask:</strong></td>
                <td class="stock-stat" ng-if="vm.automatedStock.ask">{{vm.automatedStock.ask | currency}}</td>
                <td class="stock-stat" ng-if="!vm.automatedStock.ask">N/A</td>
              </tr>
              <tr>
                <td><strong>Current Bid:</strong></td>
                <td class="stock-stat" ng-if="vm.automatedStock.bid">{{vm.automatedStock.bid | currency}}</td>
                <td class="stock-stat" ng-if="!vm.automatedStock.bid">N/A</td>
              </tr>
              <tr>
                <td><strong>Last Trade Price:</strong></td>
                <td class="stock-stat"  ng-if="vm.automatedStock.last_trade_price_only">{{vm.automatedStock.last_trade_price_only | currency}}
                </td>
                <td class="stock-stat"  ng-if="!vm.automatedStock.last_trade_price_only">N/A
                </td>
              </tr>
              <tr>
                <td><strong>Day Range:</strong></td>
                <td class="stock-stat" ng-if="vm.automatedStock.days_range">{{vm.automatedStock.days_range}}</td>
                <td class="stock-stat" ng-if="!vm.automatedStock.days_range">N/A</td>
              </tr>
              <tr>
                <td><strong>Avg Daily Vol:</strong></td>
                <td class="stock-stat"  ng-if="vm.automatedStock.average_daily_volume">{{vm.automatedStock.average_daily_volume | number}}</td>
                <td class="stock-stat"  ng-if="!vm.automatedStock.average_daily_volume">N/A</td>
              </tr>
              <tr>
                <td><strong>Year High:</strong></td>
                <td class="stock-stat" ng-if="vm.automatedStock.year_high">{{vm.automatedStock.year_high}}</td>
                <td class="stock-stat" ng-if="!vm.automatedStock.year_high">N/A</td>
              </tr>
              <tr>
                <td><strong>Year Low</strong></td>
                <td class="stock-stat" ng-if="vm.automatedStock.year_low">{{vm.automatedStock.year_low}}</td>
                <td class="stock-stat" ng-if="!vm.automatedStock.year_low">N/A</td>
              </tr>
            </table>
            <div class="btn" ng-click="vm.buyMore();">
              buy more shares
            </div>
            <div class="form" ng-if="vm.buyingMore" ng-submit="vm.buystock();">
              <form>
                <input type="number" min="1" placeholder="AMOUNT" ng-model="vm.buyingStock.NumberShares"/>
                <input type="submit" value="BUY" />
              </form>
              <div class="success-msg" ng-show="succesfulBuy">
                bought!
              </div>
              <div class="error-msg" ng-show="error_msg_not_enough_fund">
                {{error_msg_not_enough_fund}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= WATCHED STOCK MODAL ============ -->
    <div ng-if="vm.watchedModal" class="modal">
      <div class="watched-stock-box">
        <div class="close" ng-click="vm.modalToggle('watchedStock')">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>

        </div>
        <h1>{{vm.automatedStock.name}} ({{vm.viewedStock.symbol}})</h1>
        <div class="box">
          <table>
            <tr>
              <td><strong>Current Ask:</strong></td>
              <td class="stock-stat" ng-if="vm.automatedStock.ask">{{vm.automatedStock.ask | currency}}</td>
              <td class="stock-stat" ng-if="!vm.automatedStock.ask">N/A</td>
            </tr>
            <tr>
              <td><strong>Current Bid:</strong></td>
              <td class="stock-stat" ng-if="vm.automatedStock.bid">{{vm.automatedStock.bid | currency}}</td>
              <td class="stock-stat" ng-if="!vm.automatedStock.bid">N/A</td>
            </tr>
            <tr>
              <td><strong>Last Trade Price:</strong></td>
              <td class="stock-stat"  ng-if="vm.automatedStock.last_trade_price_only">{{vm.automatedStock.last_trade_price_only | currency}}
              </td>
              <td class="stock-stat"  ng-if="!vm.automatedStock.last_trade_price_only">N/A
              </td>
            </tr>
            <tr>
              <td><strong>Day Range:</strong></td>
              <td class="stock-stat" ng-if="vm.automatedStock.days_range">{{vm.automatedStock.days_range}}</td>
              <td class="stock-stat" ng-if="!vm.automatedStock.days_range">N/A</td>
            </tr>
            <tr>
              <td><strong>Avg Daily Vol:</strong></td>
              <td class="stock-stat"  ng-if="vm.automatedStock.average_daily_volume">{{vm.automatedStock.average_daily_volume | number}}</td>
              <td class="stock-stat"  ng-if="!vm.automatedStock.average_daily_volume">N/A</td>
            </tr>
            <tr>
              <td><strong>Year High:</strong></td>
              <td class="stock-stat" ng-if="vm.automatedStock.year_high">{{vm.automatedStock.year_high}}</td>
              <td class="stock-stat" ng-if="!vm.automatedStock.year_high">N/A</td>
            </tr>
            <tr>
              <td><strong>Year Low</strong></td>
              <td class="stock-stat" ng-if="vm.automatedStock.year_low">{{vm.automatedStock.year_low}}</td>
              <td class="stock-stat" ng-if="!vm.automatedStock.year_low">N/A</td>
            </tr>
          </table>
          <div class="btn" ng-click="vm.buyMore();">
            buy shares
          </div>
          <div class="form" ng-if="vm.buyingMore" ng-submit="vm.buystock();">
            <form>
              <input type="number" min="1" placeholder="AMOUNT" ng-model="vm.buyingStock.NumberShares"/>
              <input type="submit" value="BUY" />
            </form>
            <div class="success-msg" ng-show="succesfulBuy">
              bought!
            </div>
            <div class="error-msg" ng-show="error_msg_not_enough_fund">
              {{error_msg_not_enough_fund}}
            </div>
          </div>
          <div class="btn" ng-click = "vm.unwatchStock()">
            stop watching
          </div>
        </div>
      </div>
    </div>
    <!-- ============ EDIT ACCOUNT MODAL ============= -->
    <div ng-if="vm.editModal" class="modal">
      <div class="register-box">
        <div class="close" ng-click="vm.modalToggle('editUser');">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </div>
        <div class="register">
          <h1>EDIT {{currentUser.name}}</h1>
          <form ng-submit="vm.updateUser()">
            <strong>DISPLAY NAME:</strong><br />
            <input type="text" name="name" ng-model = "vm.formdata.name"/><br />
            <strong>PASSWORD:</strong><br />
            <input type="password" ng-model = "vm.formdata.password"/><br />
            <input type="submit" value="EDIT" />
          </form>
        </div>
      </div>
    </div>
    <!-- ========= DELETE ACCOUNT MODAL ========= -->
    <div ng-if="vm.deleteModal" class="modal">
      <div class="deactivate-box">
        <div class="close" ng-click="vm.modalToggle('deleteUser');">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </div>
        <div class="deact">
          <h1>ARE YOU SURE?</h1> Deactivating your account will... (?)
          <form ng-submit="vm.deleteUser(currentUser.id)">
            <input type="submit" value="deactivate account" />
          </form>
        </div>
      </div>
    </div>
</section>
