<!-- ==================== NAVBAR =================== -->
<section ng-include="'../partials/navbar.html'"></section>
<!-- ==================== TICKER =================== -->
<!-- <section ng-include="'../partials/ticker.html'"></section> -->

<div>

  <!--START theFinancials.com Content-->
  <!--copyright theFinancials.com - All Rights Reserved-->
  <!--Get Help by Calling 1.843.886.3635-->
  <!--specify 'bgcolor', 'fontcolor' and 'bordercolor' using 3- or 6-character color codes - DO NOT include '#' in the color codes-->
  <!--use 'numtileswide=1' to display the widget vertically, 'numtileswide=0' to display it horizontally, or use another value for other layouts-->
  <!--set 'scrollSpeedFromZeroToTen' to 0 to disable scrolling, or use value from 1 (slow) to 10 (fast) to control scroll speed-->
  <iframe style='width: 100vw; height: 75px' src='http://www.thefinancials.com/ShowPanel.aspx?pid=free&id=577&bgcolor=003366&fontcolor=ffffff&fontsize=13&bordercolor=c0c0c0&numtileswide=0&mode=iframe&scrollSpeedFromZeroToTen=7' scrolling='auto' marginheight='0'
    marginwidth='0' hspace='0' vspace='0' frameborder='no' allowtransparency='true'></iframe>
  <!--END theFinancials.com Content-->

  <!-- ==================== BANNER =================== -->
  <!-- <div class="banner"> -->

  <div class="">

    <!--START theFinancials.com Content-->
    <!--copyright theFinancials.com - All Rights Reserved-->
    <!--Get Help by Calling 1.843.886.3635-->
    <iframe style='width: 100vw; height: 500px' src='http://www.thefinancials.com/syndicated/Free/EXh_MarketUpdate_US.html' marginheight='0' marginwidth='0' hspace='0' vspace='0' frameborder='no' title='US Market Update'></iframe>
    <!--END theFinancials.com Content-->

  </div>

  <!-- ================== INFO BOXES ================== -->
  <section class="landing-info">
    <div class="one">
      <img ng-src="img/profile.png" />
      <p>

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
      </p>
    </div>
    <div class="two">
      <img ng-src="img/clock.png" />
      <p>
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages and more recently with desktop
        publishing software
      </p>
    </div>
    <div class="three">
      <img ng-src="img/chart.png" />
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney in Virginia, looked up one of the
        more obscure Latin words
      </p>
    </div>
  </section>
