<!-- ==================== NAVBAR =================== -->
<section ng-include="'../partials/navbar.html'"></section>
<!-- ==================== TICKER =================== -->
<section ng-include="'../partials/ticker.html'"></section>
<!-- ==================== BANNER =================== -->
<div class="banner">
  <div class="banner-content">
    <div class="banner-title">
      stocker
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="banner-desc">
      we bring wall street to you
    </div>
  </div>
</div>
<!-- ================== INFO BOXES ================== -->
<section class="landing-info">
  <div class="one">
    <img ng-src="img/profile.png" />
    <p>
      Join to generate your own personal stock portfolio where you can buy, sell, and keep an eye on whatever stock you please. We give you $10,000 to begin with &mdash; how much more can you get?
    </p>
  </div>
  <div class="two">
    <img ng-src="img/clock.png" />
    <p>
      While the money you spend and make isn't real, the stock information you see? Definitely real. Join now to see your own personal stock ticker with relatively real-time updates of only the stocks you've bought or watched.
    </p>
  </div>
  <div class="three">
    <img ng-src="img/chart.png" />
    <p>
      Don't worry, you're not limited to the stocks you've bought or watched! Search any stock to your hearts content and see its statistics and a chart that displays its price percentage change over different time periods.
    </p>
  </div>
</section>
