<div class="navbar">
  <!-- ================ SITE TITLE ================= -->
  <h1><a href="/"><strong>STOCK</strong>ER</a></h1>

  <!-- ================= NAV LINKS ================= -->
  <ul>
    <div ng-hide="currentUser">
      <li><a ng-click="vm.modalToggle('register')" ng-if="!vm.loginForm">register</a></li>
      <li><a ng-click="vm.showLogin()" ng-if="!vm.loginForm">login</a></li>
    </div>

    <div ng-hide="!currentUser">
      <li><a href="#!/dashboard" ng-if="!vm.loginForm">dashboard</a></li>
      <li><a href="" ng-click="vm.logout()">logout</a></li>
    </div>
  </ul>

  <!-- ================ LOGIN FORM ================= -->
  <div ng-if="vm.loginForm" class="login">
    <form ng-submit="vm.submit()">
      <input type="text" name="username" ng-model="vm.formLogin.username" placeholder="USERNAME" required />
      <input type="password" name="password" ng-model="vm.formLogin.password" placeholder="PASSWORD" required />
      <input type="submit" value="GO" />
      <p ng-if="vm.loginError">
        {{vm.errorMessage}}
      </p>
    </form>
  </div>

  <!-- ============== REGISTER FORM ================= -->
  <div ng-if="vm.registerModal" class="modal">
    <div class="register-box">
      <div class="close" ng-click="vm.modalToggle('register');">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </div>
      <div class="register">
        <h1>REGISTER</h1>
        <form ng-submit="vm.register()">
          <strong>DISPLAY NAME:</strong><br />
          <input type="text" name="name" ng-model="vm.formdata.name" required /><br />
          <strong>USERNAME:</strong><br />
          <input type="text" name="username" ng-model="vm.formdata.username" required /><br />
          <strong>PASSWORD:</strong><br />
          <input type="password" name="password" ng-model="vm.formdata.password" required /><br />
          <input type="submit" ng-disabled="form.$invalid || vm.dataLoading" value="JOIN" />
          <p ng-if="errorMessage">
            {{errorMessage}}
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
